<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136006348676-g5o3mv297p88a5ld4fmlkqjm7njje167.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136006348676-g5o3mv297p88a5ld4fmlkqjm7njje167</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>136006348676-ahogm8j6jvvvusagois73tsml6s4m9sb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0t1b5Tt76tm61UPEjFOn6BSaIM20Emvg</string>
	<key>GCM_SENDER_ID</key>
	<string>136006348676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squareflo.chowlocal</string>
	<key>PROJECT_ID</key>
	<string>chowlocal</string>
	<key>STORAGE_BUCKET</key>
	<string>chowlocal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136006348676:ios:0800f2c9ad28066f0b77d1</string>
</dict>
</plist>